
<h1><%= 'Hi Everyone' %></h1>

<form action="/ask">
  <input type="text" name="question" placeholder="Ask a question!">
  <input type="submit" value="Ask!">
</form>

<input type="text"
       name="question"
       value="<%= params[:question] %>"
       placeholder="Ask a question!">
